
.DS_Store

atlassian-ide-plugin.xml

chromedriver.log

effective.xml

parallel-webtest.iml

parallel-webtest.ipr

parallel-webtest.iws

target

src/test/java/com/dynacrongroup/webtest/DemoTest.java

src/test/java/com/dynacrongroup/webtest/image/ImageTest.java

src/test/java/com/dynacrongroup/webtest/webdriverbase/LocalCustomCapabilitiesIT.java
